



.textarea {
    background-image: url('craf.jpeg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    backface-visibility: visible;
    font-family: Arial, sans-serif;
    height: 100%;
    width: 100%;
}



.navbar {
    
    background-color: hwb(221 83% 5% / 0.912);
    color: #0c0202cc;
    display: inline-flex;
    justify-content:left;
    align-items: center;
    padding: 30px 40 px ;
    margin-top: 0px;
    width: 100% ;
    height: 60px;
   
}


.logo {
    font-size: 34px;
    font-weight: bold;
    font-style:oblique;
    padding-right:0px;
    margin-left:40px;
}

.nav-links {
    list-style: none;
    display: flex;
    padding-right: 0px;
    align-items: left;
    justify-content: right;
    margin-left:500px;
}

.nav-links li {
    margin-right: 20px;
    
    padding-right: 20px;
}

.nav-links a {
    text-decoration:wavy;
    color: #1c1cf8;
}
a:hover {
    color: rgb(0, 255, 123); 
    background-color: rgb(68, 107, 185); 
    text-decoration: underline; 
    font-weight: bold; 
    transform: scale(1.5); 
}
.button {
    background-color: #008CBA; /* Blue background */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 10px;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2); /* Box shadow */
    transition: 0.3s; /* Smooth transition */
  }
  
  .button:hover {
    background-color: #007bb5; /* Darker blue on hover */
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2); /* Larger shadow on hover */
  }
  

.content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: right;
    height: 140vh;
    width: 300px;
    justify-self:left;
    
    color: #fff;
}
.textp {
    justify-content:flex-end;
    margin: 200px 100px 100px 1000px;
    width: 80%;
    padding: 10px;
    font-size: 50px;
     display:inline-flexbox;
     color: #e6ae2b;
}

.content textarea {
    width: 80%;
    padding: 10px;
    font-size: 16px;
    justify-content: right;
   margin-right: 900px;
    border-radius: 10px;
    background-color: rgba(127, 10, 133, 0.2);
    color: #fff;
    
  
}
footer {
    background-color: hwb(222 89% 7% / 0.848);
    color: #0c0202cc;
    display:inline-flex;
    justify-content:center;
    align-items:center;
    padding: 10px 10 px ;
    align-self: center;
    width: 100% ;
    height:70px;
    flex-direction:row;
    align-content: space-between;
   
   
}
.like{
    align-items: right;
    margin-left: 400px;
    padding-right: 100px;
    border-radius: 20px;
    background-color: aquamarine;
}